.div {
  /* background-color: rgb(228, 74, 74) ;*/
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  /*justify-content: center !important;
    align-items: center !important;*/ }

.a {
  /*margin-top: 40px !important;*/
  width: 150px;
  height: 30px;
  margin: 0px;
  text-align: center; }

.div__login, #form__labels, #form__fields {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin: 30px; }

.div__buttons, #form__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px; }

.singup__button {
  height: 40px !important;
  width: 120px !important; }

.nombre__fields {
  background-color: #619161; }

.apellido__fields {
  background-color: #619161; }

.phone__fields {
  background-color: #619161; }

.mail__fields {
  background-color: #619161; }

.prov__fields {
  background-color: #619161; }

.solic__fields {
  background-color: #619161; }

.singup__labels {
  background-color: #619161;
  color: white;
  margin-left: 10px; }

#fieldset__form {
  background-color: #7696d3 !important; }

.footer__div {
  background-color: #e44a4a; }

.div__buttons, #form__buttons {
  height: 70px; }

.div__buttons button, #form__buttons button {
  width: 200px;
  margin: 10px !important;
  background-color: white;
  color: black !important; }

/*.div__textarea{
    width: map-get($divContact, textareaSize) !important;*/
@media screen and (min-width: 320px) {
  .div__textarea {
    width: 500px !important; }
  .form-control {
    margin: 10px; }
  .form-label {
    margin: 10px; }
  .form__contact {
    background-color: #7696d3; } }

.header__links:hover {
  transform: scale(1.1) translatey(-5px); }

#fieldset__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  #fieldset__form #legend__form #form__header__registro {
    text-align: center; }
  #fieldset__form .singup__labels {
    display: none;
    /*height: 25px;
        width: 75px;*/ }
  #fieldset__form .singup__field {
    width: 200px;
    height: 35px;
    margin: 10px; }
  #fieldset__form .singup__button {
    margin-left: 0px;
    margin-right: 5px;
    width: 90px;
    height: 35px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); }
  #fieldset__form .form__buttons {
    width: 300px;
    height: 35px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row; }

@media screen and (min-width: 768px) {
  #fieldset__form {
    background-color: #afaeae; }
    #fieldset__form .singup__labels {
      display: flex;
      width: 200px;
      height: 35px;
      padding: 10px;
      align-items: center; } }

.collapse__container {
  padding: 10px !important; }

.div__subcont {
  padding: 0px !important;
  margin: 0px !important; }

.header__nav {
  padding: 10px;
  margin: 5px; }

.div__item {
  height: 75px;
  padding: 0px; }

.header__links {
  border: 1px solid black;
  margin: 0px !important;
  width: 120px; }

.link__home {
  margin: 3px;
  padding: 2px; }

.img__logo {
  border: 2px solid black;
  width: 100px;
  height: 100px; }

.sec__cont {
  background-color: grey;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 10px !important; }

.main__container {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0px; }

.text__body {
  margin-top: 10px; }

.foot__divs {
  width: 250px !important;
  height: 40px; }

.footer__main {
  margin: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; }

.div__container {
  margin: 0px;
  height: 50px; }

.foot__links {
  height: 30px;
  padding: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); }
