.flexrow__extend{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}
.flexcolumn__extend{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flexcolumn__evenlyextend{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.flexrow__evenlyextend{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

