$label: (
    colorFont: white,
    backgroundColor: rgb(118, 150, 211),
    formBackground: rgb(97, 145, 97),
    footerBackground: rgb(228, 74, 74) 

);

.nombre__fields{
    background-color: map-get($label,formBackground);
}
.apellido__fields{
    background-color: map-get($label,formBackground);
}
.phone__fields{
    background-color: map-get($label,formBackground);
}
.mail__fields{
    background-color: map-get($label,formBackground);
}
.prov__fields{
    background-color: map-get($label,formBackground);
}
.solic__fields{
    background-color: map-get($label,formBackground);
}

.singup__labels{
    background-color: map-get($label, formBackground );
    color: map-get($label, colorFont );
    margin-left:10px;
}
#fieldset__form{
    background-color: map-get($label, backgroundColor ) !important;
}

.footer__div{
    background-color: map-get($label,footerBackground);
}

$divContact:(
    backgroundFields: #7696d3,
    fontColor: white,
    buttonSizeWidth: 200px,
    buttonSizeHeight: 50px,
    buttonMargin:10px,
    divButtonsSizeW: 300px,
    divButtonsSizeH: 70px,
    textareaSize:500px,
    buttonColor: white,
    buttonFont: black

);
.div__buttons{
    height: map-get($divContact , divButtonsSizeH );
    
}
.div__buttons button{
    width: map-get($divContact,buttonSizeWidth );
    margin: map-get($divContact ,buttonMargin ) !important;
    background-color: map-get($divContact,buttonColor);
    color: map-get($divContact,buttonFont) !important;
}
/*.div__textarea{
    width: map-get($divContact, textareaSize) !important;*/

@media screen and (min-width: 320px) {
    .div__textarea{
        width: map-get($divContact, textareaSize) !important;
    }
    .form-control {
        margin:map-get($divContact,buttonMargin) ;
    }
    .form-label {
        margin:map-get($divContact,buttonMargin) ;
    }
    .form__contact{
        background-color: map-get($divContact , backgroundFields );
    }
}