@import 'variables';
@import 'extend';
@import 'mixins';
@import 'maps';


.header__links:hover {
    transform: scale(1.1) translatey(-5px);
}

#fieldset__form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    #legend__form{
        #form__header__registro{
            text-align: center;
        }
    }
    .singup__labels{
        display:none;        
        /*height: 25px;
        width: 75px;*/
    }
    .singup__field{
        width: $width;
        height: $heigth;
        margin: 10px;        
    }
    .singup__button{
        margin-left: 0px;
        margin-right: 5px;        
        width: 90px;
        height: 35px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    }
    .form__buttons{
        width: $divButtonsWidth;
        height: $heigth;
        margin-bottom: 10px;
        align-items: center;
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
    }
    
}
@media screen and (min-width: 768px){
    #fieldset__form{
        background-color: $backgroundColor;
        .singup__labels{
            display: flex;
            width: $width;
            height: $heigth;
            padding: 10px;
            align-items: center;
        }

    }
}
.collapse__container{    
    padding: 10px !important;
    
}
.div__subcont{    
    padding: 0px !important;
    margin: 0px !important;
}
.header__nav{   
    padding: 10px;
    margin:5px;
}
.div__item{    
    height: 75px;
    padding: 0px;
}
.header__links {
    border: 1px solid black;
    margin: 0px !important;
    width: 120px;    
}
.link__home{    
    margin:3px;
    padding: 2px;
}
.img__logo{
    border: 2px solid black;
    width: 100px;
    height: 100px;
}
.sec__cont {
    background-color: grey;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 10px !important;
}
.main__container{
    padding-left: 30px;
    padding-right: 30px;
    margin: 0px;
}
.text__body{
    margin-top: 10px;
}
.foot__divs{
    
    width: 250px !important;
    height: 40px;

}
.footer__main{
    
    margin: 20px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
    
}
.div__container{ 
    
    margin: 0px;
    height: 50px;

}
.foot__links{
    height: 30px;
    padding: 3px;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
    
    
}
